@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");

/* bootstrap icon  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --main-color: #029fb2;
  --link-color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: #f6f6f6;
}

/* main css  */
/* .logo {
  font-size: 2rem;
} */
.logo1 {
  color: white;
  background-color: var(--main-color) !important;
}

.hero-bg {
  color: var(--main-color);
}

.hero-nav-right {
  background-color: var(--main-color);
}

.hero-nav-right ul a {
  font-size: 1.0rem;
}

.hero-nav-right ul .nav-active {
  padding-bottom: 4px;
  border-bottom: 3px solid #fff;
}

.categories {
  background-color: var(--main-color);
}

.search-icon button i {
  font-size: 20px;
}

.item-found p {
  font-size: 1.3em;
}

.categories-list{
  font-size: 1.0em;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 2px;
  transition: .3s;
}

.active{
  color: black;
  font-size: 1.15em;
}

.categories-list:hover{
  color: black;
  font-size: 1.15em;
}

/* section top  */

.btn-active {
  background-color: var(--main-color);
  color: #fff !important;
}

.btn-groups button {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}


.news-text h2{
    font-size: 1.3em;
}

.news-author{
    width: 40px;
    height: 40px;
}

.bi-arrow-right{
    font-size: 20px;
    color: var(--main-color);
}


